{% extends "layout.html" %}
{% block body_content %}
	<h1>{{ current_user.first_name }} {{ current_user.last_name}} Events </h1>
	<p> Create An Event </p>
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.promoter.label }}
				{% if form.promoter.errors %}
					{{ form.promoter }}
					<div class="error">
						{% for error in form.promoter.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.promoter }}
				{% endif %}
			</div>
			<br>
			<div class="form-group">
				{{ form.location.label }}
				{% if form.location.errors %}
					{{ form.location }}
					<div class="error">
						{% for error in form.location.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.location }}
				{% endif %}
			</div>
			<br>
			   <div class="form-group">
                                {{ form.user_id.label }}
                                {% if form.user_id.errors %}
                                        {{ form.user_id }}
                                        <div class="error">
                                                {% for error in form.user_id.errors %}
                                                        <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                {% else %}
                                        {{ form.user_id }}
                                {% endif %}
				 </div><br>
                           <div class="form-group">
                                {{ form.event_date.label }}
                                {% if form.event_date.errors %}
                                        {{ form.event_date }}
                                        <div class="error">
                                                {% for error in form.event_date.errors %}
                                                        <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                {% else %}
                                        {{ form.event_date }}
                                {% endif %}
			<div>
				{{ form.submit }}
			</div>
		</form>
	</div>
{% endblock body_content %}
