
{% extends "layout.html" %}
{% block body_content %}
	  <h1>justevents</h1>


	  {% for event in events %}
	  <div>
             <h2>{{ event.title }}</h2>
	     <span>by <i>{{ event.author.promoter }}<br>{{ event.location }}</i></span>
             <span>on the <i>{{ event.date_posted.strftime('%d/%m/%y %H:%M') }}</i></span>
	     <p>{{ event.content }}</p>
	  <table>
		  {% for event in events %}
		  <tr>
			  <td>
				  {{ event.title}}
			  </td>
			  <td>
				  <form method="POST" action="./update" style="display: inline">
					  <input type="hidden" value="{{event.title}}" name="oldtitle">
					  <input type="text" value="{{event.title}}" name="newtitle">
					  <input type="submit" value="Update">
				  </form>
			  </td>
			  <td>
				  <form method="POST" action="./delete" style="display: inline">
					  <input type="hidden" value="{{event.title}}" name="title">
					  <input type="submit" value="Delete">
				  </form>
			  </td>
		  </tr>
		  {% endfor %}

    </table>
    {% endfor %}
{% endblock body_content %}
