
{% extends "layout.html" %}
<!DOCTYPE html>
<html>
{% block body_content %}
<head>
    <h1>Home Page</h1>
    <p>Events</p>
<style>
table, th, td {
  border: 1px solid black;
  border-style: dotted;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>
</head>
<table style="width:100%">
<body>
<tr>
<th> Promoter </th>
<th> Location </th>
<th> Date Posted </th>
<th> User ID </th>
<th> Event Date </th>
</tr>
{% for event in event %}
<tr>
<td>{{ event.promoter }}</td>
<td>{{ event.location }}</td>
<td>{{ event.date_posted }}</td>
<td>{{ event.event_date }}</td>
<td><button type="button"> Delete </button></td>
</tr>
{% endfor %}
</body>
{% endblock body_content %}
</html>
