<html>
{% extends "layout.html" %}
{% block body_content %}
        <h1>Login </h1>
        <p>Please Login!</p>
        <div calss="form">
                <form method="Post" actions="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                                {{ form.email.label }}
                                {% if form.email.errors %}
                                        {{ form.email }}
                                        <div class="error">
                                                {% for error in form.email.errors %}
                                                        <span{{ error }}</span>
                                                {% endfor %}
                                        </div
                                {% else %}
                                        {{ form.email }}
                                {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                                {{ form.password.label }}
                                {% if form.password.errors %}
                                        {{ form.password }}
                                        <div class="error">
                                                {% for error in form.password.errors %}
                                                        <span{{ error }}</span>
                                                {% endfor %}
                                {{ form.submit }}
                        </div>
                </form>
        </div>
{% endblock body_content %}
</html>
